<div class="container">



<h2 class="text-center m-5">New Realeses!</h2>
<app-loading *ngIf="loading"></app-loading>



<hr>
<div class="card-columns animated fadeIn" [ngStyle]="{marginTop: '20px'}">
    <div class="card puntero"   *ngFor="let song of newSongs" [routerLink]="['/artista',song.artists[0].id]">
      <img class="card-img-top" [src]="song.images[0].url" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{song.name}}</h5>
        <p class="card-text"><span *ngFor="let art of song.artists" class="badge badge-pill badge-dark">{{art.name}}</span></p>
      </div>
    </div>
  </div>
</div>